/*
 * 修改浏览器默认的滚动条样式
 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c0c0c0;
  border: none;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::selection {
  color: inherit !important;
  background: rgba($primary, 0.2) !important;
}

// 重设跳转进度条的颜色
#nprogress .bar {
  background: $primary !important;
}

.ant-message-custom-content {
  @apply flex items-center;
}

.ant-dropdown {
  .table-action-menu {
    min-width: 6rem;

    .ant-dropdown-menu-item {
      @apply flex justify-center;
    }
  }
}

.ant-pagination.ant-table-pagination {
  .ant-pagination-item-link {
    @apply flex items-center justify-center;
  }
}
.ant-table {
  font-size: 17px;
}
.ant-card-body {
  padding: 20px;
}
.ant-table-body {
  background: white;
}
.ant-table-thead > tr > th {
  background: #f8f9fcb6;
}
//表格隔行变色
// .light-row {
//   background: #fff !important;
// }
// .dark-row {
//   background: #e7e5e5 !important;
// }
.clickRowColor {
  background: #f7f9ff !important;
}
.ant-form {
  padding-left: 60px;
}
.anticon svg {
  display: block;
}

.ant-modal {
  top: 50px;
}
